<li class="relative flex flex-col rounded-xl overflow-hidden aspect-square border cursor-pointer hover:scale-105 transition hover:shadow-md hover:opacity-90">
    <a href="#" class="p-2.5 bg-gray-800/90 rounded-lg text-white self-end hover:bg-red-600/80 absolute top-2 right-2">
        {% autoescape false %}
            {{ image }}            
        {% endautoescape %}
    </a>
    <img src="https://upload.wikimedia.org/wikipedia/en/1/14/Tenet_movie_poster.jpg" class=" h-4/5 object-cover w-full object-top" alt="">
    <div class="w-full h-full bg-white px-3 flex items-center justify-between border-t-2 border-t-red-600">
        <span class="capitalize font-medium pr-2"><span class="text-red-600 font-bold">#{{ rank }}</span> - {{ title }}</span>
        <div class="flex space-x-2 items-center text-xs">
            {% autoescape false %}
                {{ poster }}            
            {% endautoescape %}
            <span>{{ rating }}</span>
        </div>
    </div>
</li>
